<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>FullStack WebDev</title>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>

<body>
<div class="reveal">
    <div class="slides">
        <section>
            <img src="./images/wordcloud.png">
        </section>
        <section>
            <h2>Fullstack in Webanwendungen</h2>
        </section>
        <section>
            <h3>Fullstack?</h3>
            <p class="fragment">Frontend + Backend = Full Stack Entwickler</p>
            <p class="fragment">laut StackOverflow Umfrage: jeder 2. Entwickler (48,2%)</p>
        </section>
        <section>
            <h3>Überblick</h3>
            <section>
                <img src="./images/01.png">
            </section>
        </section>
        <section>
            <section>
                <h3>Angular (& TypeScript)</h3>
                <img src="./images/02.png">
            </section>
            <section>
                <h3>RoutingModule</h3>
                <ul>
                    <li class="fragment">Zeigt zu der zugehörigen URL die passende Komponente an</li>
                    <li class="fragment">Überprüft Zugriffsrecht</li>
                    <li class="fragment">Leitet weiter</li>
                </ul>
            </section>
            <section>
                <h3>RoutingModule</h3>
                <pre><code data-trim data-noescape>
const routes: Routes = [{
path: 'admin',
canActivate: [CanActivateViaAuthGuard],
children: [
    {path: '', redirectTo: 'users', pathMatch: 'full'}, // empty path
    {path: 'users', component: ViewUserComponent},
    {path: 'users/edit/:id', component: EditUserComponent, resolve: {user: PersistUserResolverService}},
    { path: '**', component: PageNotFoundComponent }
]
...
                </code></pre>
                <aside class="notes">
                    UserResolverService lädt Userliste vor und leitet bei 'falscher' id zur Übersicht zurück.
                </aside>
            </section>
            <section>

            </section>
            <section>
                <h3>Angular Komponenten</h3>
                <p class="fragment">
                    <img src="./images/webwib_components.png">
                </p>
            </section>
            <section>
                <h3>Angular Komponenten</h3>
                <p>Bestandteile:</p>
                <ul>
                    <li class="fragment">Template View (.html)</li>
                    <li class="fragment">Data Source (.ts)</li>
                    <li class="fragment">Component Styles (.css)</li>
                    <li class="fragment">Component Test (.spec.ts)</li>
                </ul>
            </section>
            <section>
                <h3>Angular Template Databinding</h3>
                <table>
                    <thead>
                    <tr>
                        <td>Richtung</td>
                        <td>Syntax</td>
                        <td>Typ</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ts->html</td>
                        <td>{{<span style="color:darkorchid">user</span>.<span style="color:darkorchid">name</span>}}, [<span
                                style="color:darkorchid">disabled</span>]="<span
                                style="color:darkorchid">isDisabled</span>"
                        </td>
                        <td>Einfügen, Attribut, Class, Style</td>
                    </tr>
                    <tr>
                        <td>html->ts</td>
                        <td>(<span style="color:darkorchid">click</span>)="<span
                                style="color:darkorchid">sendForm</span>()"
                        </td>
                        <td>Event</td>
                    </tr>
                    <tr>
                        <td>html<>ts</td>
                        <td>[(<span style="color:darkorchid">ngModel</span>)]="<span
                                style="color:darkorchid">user</span>"
                        </td>
                        <td>Two-Way</td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>new-user.component.html</h3>
                <pre><code data-trim contenteditable>
&lt;p-panel *ngIf=&quot;user &amp;&amp; groups &amp;&amp; spots; else loading&quot;&gt;
    &lt;ww-persist-user [user]=&quot;user&quot;
                     [groups]=&quot;groups&quot;
                     [spots]=&quot;spots&quot;
                     (save)=&quot;saveUser()&quot;&gt;
    &lt;/ww-persist-user&gt;
&lt;/p-panel&gt;
&lt;ng-template #loading&gt;Lade...&lt;/ng-template&gt;
                </code>
                </pre>
                <aside class="notes">
                    Directive: Strukturell: *ngFor, *ngIf
                    Attributiv: <input [(ngModel)]="user.name">
                </aside>
            </section>
            <section>
                <h3>new-user.component.ts</h3>
                <pre><code data-trim contenteditable>
class NewUserComponent implements OnInit {
user: User;
groups: Group[];
spots: Spot[];

constructor(private userService: UserService,
            private groupService: GroupService,
            private spotService: SpotService
    ) {}

ngOnInit(): void {
    this.groupService.get().subscribe(groups => this.groups = groups);
    this.spotService.get().subscribe(spots => this.spots = spots);
}

saveUser(): void {
        this.userService.addUser(this.user);
}
}
                </code></pre>
            </section>
            <section>
                <h3>Dependency Injection </h3>
                <p class="fragment">DI: Entwurfsmuster, reglementiert die Abhängigkeiten eines Objekts zur Laufzeit</p>
                <p class="fragment">DI überträgt Verantwortung für das Erzeugen und die Verknüpfung von Objekten an eine eigenständige Komponente</p>
            </section>
            <section>
                <h3></h3>
                <pre><code data-trim contenteditable data-noescape>
@Injectable()
export class UserService {
    private usersUrl = environment.apiUrl + 'user';

    constructor(private http: HttpClient) {
    }

    get(): Observable&lt;any&gt; {
        return this.http.get(this.usersUrl);
    }

    getUser(id: number | string, params?: UserParams): Observable&lt;any&gt; {
        const options = { params: new HttpParams({ fromObject: params as any }) };
        return this.http.get&lt;User&gt;(`${this.usersUrl}/${id}`, options);
    }

    addUser(user: User): Observable&lt;User&gt; {
        delete user.id;
        delete user.updateDateTime;
        return this.http.post&lt;User&gt;(this.usersUrl, user);
    }
}
                </code></pre>
            </section>
            <section>
                <h3>Rekapitulation</h3>
                <img src="./images/angular_overview.png">
            </section>
            <section>
                <h3>Angular: Sonstiges</h3>
                <ul>
                <li class="fragment">Angular != UI</li>
                <li class="fragment">Formulare</li>
                <li class="fragment">i18n</li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h3>RESTful API / JSON</h3>
                <img src="./images/03.png">
            </section>
            <section>
                <pre><code data-trim contenteditable data-noescape>
POST /webwib-api/user
Content-Type: application/json;charset=UTF-8
Authorization: Bearer eyJhbGciOiJIUzI1NiJ9.

{
    "firstName": "Christian",
    "phone1": "164",
    "birthday": "1982-09-04",
    "email": "Christian.Scholten@hksinformatik.de",
    "access": "FULL",
    "password": "",
    "groupLinks": [
        {
            "user": {},
            "group": {
                "id": 10084
            }
        }
    ],
    "ident": "ChS",
    "name": "Scholten",
    "defaultSpot": {
        "id": 10005
    }
}
                </code></pre>
            </section>
            <section>
                <h3>Eigenschaften einer RESTful API</h3>
                <ul>
                    <li class="fragment">Zustandslosigkeit: alle Informationen, in sich geschlossen</li>
                    <li class="fragment">Adressierbarkeit von Ressourcen</li>
                    <li class="fragment">Repräsentationen zur Veränderung von Ressourcen</li>
                </ul>
            </section>
        </section>
        <section>

        </section>
        <section>
            <section>
                <h3>Grails (Groovy on Rails)</h3>
                <img src="./images/04.png">
            </section>
            <section>
                <img src="./images/grails.png">
            </section>
            <section>
                <h3>URL Mapping</h3>
                <pre><code data-trim contenteditable data-noescape>
static mappings = {
    delete "/$controller/$id(.$format)?"(action:"delete")
    get "/$controller(.$format)?"(action:"index")
    get "/$controller/$id(.$format)?"(action:"show")
    get "/user/me"(controller: "user", action: "me")
    post "/$controller(.$format)?"(action:"save")
    put "/$controller/$id(.$format)?"(action:"update")
    patch "/$controller/$id(.$format)?"(action:"patch")

    get "/stream/$controller(.$format)?"(action: 'stream')
    post "/event/remote"(controller: 'snap', action: 'keyPointEvent')
    post "/user-event/app-closed"(controller: 'snap', action: 'delete')

    "/"(controller: 'application', action:'index')
    "500"(view: '/error')
    "404"(view: '/notFound')
}
                </code></pre>
            </section>
            <section>
                <h3>Controller</h3>
                <pre><code data-trim contenteditable data-noescape>
@Secured(['isFullyAuthenticated()'])
class UserController extends RestfulController {

    static responseFormats = ['json', 'xml']

    SpringSecurityService springSecurityService

    UserController() {
        super(User)
    }

    @Override
    def index(Integer max) {
        params.max = Math.min(max ?: 10, 100)
        respond User.findAllByIdGreaterThan(-1, params)
    }

    def me() {
        respond springSecurityService.getCurrentUser()
    }
}
                </code></pre>

            </section>
            <section>
                <h3>RestfulController</h3>
                <img src="images/restful_controller.png">
            </section>
            <section>
                <h3>User Domain (Model)</h3>
                <pre><code data-trim contenteditable data-noescape>
@GrailsCompileStatic
class User extends BaseDomain {

    Integer id
    String firstName
    String phone
    String email
    Spot defaultSpot
    Date birthday
    Integer color
    String password
    Permission access
    Date activeUntil
    Boolean isActive

    static hasOne = [snap: Snap]

    static hasMany = [
        groupLinks: UserGroupLink,
        observations: SnapObservation,
        observers: SnapObservation
    ]

    static mappedBy = [
        observations: 'user',
        observers: 'targetUser'
    ]
}</code></pre>

            </section>
            <section>
                <h3>User Domain (Model)</h3>
                <pre><code data-trim contenteditable data-noescape>
static mapping = {
    defaultSpot column: 'SPTREF'
    birthday type: 'date'
    password column: 'PASS', sqlType: 'CHAR(32)'
    access sqlType: 'SMALLINT', enumType: 'identity'
    ...
}

static constraints = {
    ident nullable: false, unique: true
    name() nullable: true
    firstName nullable: true
    email nullable: true, email: true
    defaultSpot()
    password nullable: true, blank: true, password: true
    ...
}

                </code></pre>
            </section>
            <section>
                <h3>User View</h3>
                <pre><code>
model {
    User user
}

final defaultExcludes = [
        'defaultSpot',
        'updateUser',
        'snap',
        'groupLinks',
        'observations',
        'observers'
]

final include = params.list('include')

json g.render(user, [
        excludes: ['password'] + (defaultExcludes - include)
])
                </code></pre>
            </section>
        </section>
        <section>
            <h3>Kompletter Full-Stack</h3>
            <img src="./images/05.png">
        </section>
        <section>
            <h1>Danke für die Aufmerksamkeit!</h1>
            <h1>Fragen?</h1>
        </section>
    </div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
        dependencies: [
            {src: 'plugin/markdown/marked.js'},
            {src: 'plugin/markdown/markdown.js'},
            {src: 'plugin/notes/notes.js', async: true},
            {
                src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            }
        ],

        // Display presentation control arrows
        controls: true,

        // Help the user learn the controls by providing hints, for example by
        // bouncing the down arrow when they first encounter a vertical slide
        controlsTutorial: true,

        // Determines where controls appear, "edges" or "bottom-right"
        controlsLayout: 'bottom-right',

        // Visibility rule for backwards navigation arrows; "faded", "hidden"
        // or "visible"
        controlsBackArrows: 'faded',

        // Display a presentation progress bar
        progress: true,

        // Display the page number of the current slide
        slideNumber: 'c/t',

        // Push each slide change to the browser history
        history: true,

        // Enable keyboard shortcuts for navigation
        keyboard: true,

        // Enable the slide overview mode
        overview: true,

        // Vertical centering of slides
        center: true,

        // Enables touch navigation on devices with touch input
        touch: true,

        // Loop the presentation
        loop: false,

        // Change the presentation direction to be RTL
        rtl: false,

        // Randomizes the order of slides each time the presentation loads
        shuffle: false,

        // Turns fragments on and off globally
        fragments: true,

        // Flags whether to include the current fragment in the URL,
        // so that reloading brings you to the same fragment position
        fragmentInURL: false,

        // Flags if the presentation is running in an embedded mode,
        // i.e. contained within a limited portion of the screen
        embedded: false,

        // Flags if we should show a help overlay when the questionmark
        // key is pressed
        help: true,

        // Flags if speaker notes should be visible to all viewers
        showNotes: false,

        // Global override for autoplaying embedded media (video/audio/iframe)
        // - null: Media will only autoplay if data-autoplay is present
        // - true: All media will autoplay, regardless of individual setting
        // - false: No media will autoplay, regardless of individual setting
        autoPlayMedia: null,

        // Number of milliseconds between automatically proceeding to the
        // next slide, disabled when set to 0, this value can be overwritten
        // by using a data-autoslide attribute on your slides
        autoSlide: 0,

        // Stop auto-sliding after user input
        autoSlideStoppable: true,

        // Use this method for navigation when auto-sliding
        autoSlideMethod: Reveal.navigateNext,

        // Specify the average time in seconds that you think you will spend
        // presenting each slide. This is used to show a pacing timer in the
        // speaker view
        defaultTiming: 120,

        // Enable slide navigation via mouse wheel
        mouseWheel: false,

        // Hides the address bar on mobile devices
        hideAddressBar: true,

        // Opens links in an iframe preview overlay
        // Add `data-preview-link` and `data-preview-link="false"` to customise each link
        // individually
        previewLinks: false,

        // Transition style
        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Transition speed
        transitionSpeed: 'default', // default/fast/slow

        // Transition style for full page slide backgrounds
        backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom

        // Number of slides away from the current that are visible
        viewDistance: 3,

        // Parallax background image
        parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

        // Parallax background size
        parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

        // Number of pixels to move the parallax background per slide
        // - Calculated automatically unless specified
        // - Set to 0 to disable movement along an axis
        parallaxBackgroundHorizontal: null,
        parallaxBackgroundVertical: null,

        // The display mode that will be used to show slides
        display: 'block'

    });
</script>
</body>

</html>